[Unit]

Description=Ceph metadata server daemon (%i)

After=local-fs.target
After=network-online.target
After=time-sync.target

Before=ceph-mds.target
Before=remote-fs-pre.target

Wants=ceph-mds.target
Wants=local-fs.target
Wants=network-online.target
Wants=remote-fs-pre.target
Wants=time-sync.target

PartOf=ceph-mds.target

[Service]

ExecStart=/usr/bin/ceph-mds --cluster ceph --id %i --setuser ceph --setgroup ceph
ExecReload=/bin/kill -HUP $MAINPID

Type=forking

PIDFile=/run/ceph/ceph-mds-%i.pid

LimitNOFILE=1048576
LimitNPROC=1048576

LockPersonality=yes

MemoryDenyWriteExecute=yes

NoNewPrivileges=yes

PrivateDevices=yes
PrivateTmp=yes

ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full

Restart=on-failure
RestartSec=60s

TasksMax=infinity

[Install]

WantedBy=ceph-mds.target
