[Unit]

Description=Ceph rados gateway (%i)

After=local-fs.target
After=network-online.target
After=time-sync.target

Before=ceph-radosgw.target
Before=remote-fs-pre.target

Wants=ceph-radosgw.target
Wants=local-fs.target
Wants=network-online.target
Wants=remote-fs-pre.target
Wants=time-sync.target

PartOf=ceph-radosgw.target

[Service]

ExecStart=/usr/bin/radosgw -f --cluster ceph --name client.%i --setuser ceph --setgroup ceph

LimitNOFILE=1048576
LimitNPROC=1048576

LockPersonality=yes

MemoryDenyWriteExecute=no

NoNewPrivileges=yes

PrivateDevices=yes
PrivateTmp=yes

ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full

Restart=on-failure
RestartSec=60s

TasksMax=infinity

[Install]

WantedBy=ceph-radosgw.target
