[Unit]

Description=CephFS mirror daemon (%i)

After=local-fs.target
After=network-online.target

Wants=local-fs.target
Wants=network-online.target

PartOf=cephfs-mirror.target

[Service]

ExecStart=/usr/bin/cephfs-mirror --cluster ceph --id %i --setuser ceph --setgroup ceph

Type=forking

PIDFile=/run/ceph/cephfs-mirror-%i.pid

LimitNOFILE=1048576
LimitNPROC=1048576

LockPersonality=true

MemoryDenyWriteExecute=true

NoNewPrivileges=true

PrivateDevices=true
PrivateTmp=true

ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

Restart=on-failure
RestartSec=60s

RestrictSUIDSGID=true

TasksMax=infinity

[Install]

WantedBy=cephfs-mirror.target
